<!--========================================== 
  	NAVIGATION BAR
  ============================================-->
<div class="container container-main">
    <nav class="navbar navbar-fixed-top navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="dot-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Evelyn Cude</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">ABOUT</a>
                </li>
                <li>
                    <a href="#portfolio">PORTFOLIO</a>
                </li>
                <!-- <li>
            <a href="#resume">RESUME</a>
          </li> -->
                <li>
                    <a href="#contact">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<!--===============================================
  HOME/ABOUT SECTION
=================================================-->
<section class="home-area background-1">
    <div class="container cont-home">
        <div class="row top-row"></div>
        <div class="row about-row">
            <div class="col-lg-1 col-md-1 col-sm-0"></div>
            <div class="col-lg-4 col-md-4 col-sm-12 wow fadeIn" id="pic" align="center">
                <img class="img-circle" src="assets/images/Evelyn2.jpg" alt="Girl in a jacket" width="200" height="200">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 about-content">
                <div class="block">
                    <h1 class="wow fadeInDown" data-wow-delay="0.3s" data-wow-duration="0.2s">FULL STACK WEB Developer</h1>
                    <p class="wow fadeInDown" data-wow-delay="0.5s" data-wow-duration="0.5s">
                        Hello, I'm Evelyn. I'm a MERN Stack Web Developer. I have a passion for learning and extensive experience in creating solutions.
                        I'm drawn to functionality and enjoy the process of developing the best solutions.
                    </p>
                    <div class="wow fadeInDown" data-wow-delay="0.7s" data-wow-duration="0.7s">
                        <a class="btn btn-contact" href="#contact" role="button">Contact Me</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-0"></div>
        </div>
        <div class="row top-social-row"></div>
        <div class="row social-icons" align="center">
            <div class="col-sm-12">
                <a href="https://github.com/EvelynCude" class="linkedin">
                    <i class="fab fa-github fa-2x" id="social"></i>
                </a>
                <a href="https://www.linkedin.com/in/evelyn-cude/" class="linkedin">
                    <i class="fab fa-linkedin-in fa-2x"></i>
                </a>
                <a href="https://stackexchange.com/users/12635774/e-cude" class="linkedin">
                    <i class="fab fa-stack-overflow fa-circle fa-2x" id="social"></i>
                </a>
            </div>
        </div>
    </div>
</section>

<!--==================================================
  SKILLS SECTION
====================================================-->
<section id="skills" class="skills-section">


    <div class="container skills-container">
        <div class="row">
            <div class="heading wow fadeInUp" align="center">
                <h2>My Skills</h2>
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-lg-6 col-md-6 col-sm-12 list wow fadeInLeft">
                <h4>Front End</h4>
                <p class="p-list">
                    HTML, CSS, Javascript, jQuery, React.js, ES6, Firebase, Handlebars, Bootstrap, Git
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 list wow fadeInLeft">
                <h4>Back End</h4>
                <p class="p-list">
                    MySQL, MongoDB, Express.js, Node.js
                </p>
            </div>
        </div>
        <div class="row scrolling-wrapper-flexbox scrollbar-secondary" align="center">
            <div class=" wow fadeInLeft logos">
                <div class="logo">
                    <img src="assets/images/if_JS_128.png">
                    <h3></h3>
                </div>
            </div>
            <div class=" wow fadeInLeft logos">
                <div class="logo">
                    <img src="assets/images/if_jquery_128.png">
                    <h3></h3>
                </div>
            </div>
            <div class="wow fadeInLeft logos">
                <div class="logo">
                    <img src="assets/images/if_React_128.png">
                    <h3></h3>
                </div>
            </div>
            <div class="wow fadeInLeft logos">
                <div class="logo image-responsive">
                    <img src="assets/images/if_html5_128.png">
                    <h3></h3>
                </div>
            </div>
            <div class="wow fadeInLeft logos">
                <div class="logo">
                    <img src="assets/images/if_css3_128.png">
                    <h3></h3>
                </div>
            </div>
            <div class="wow fadeInLeft logos">
                <div class="logo">
                    <img src="assets/images/if_firebase_128.png">
                    <h3></h3>
                </div>
            </div>
            <div class="wow fadeInLeft">
                <div class="logo">
                    <img src="assets/images/if_mysql_128.png">
                </div>
            </div>
            <div class="wow fadeInLeft">
                <div class="logo">
                    <img src="assets/images/mongodb_128.png">
                </div>
            </div>
            <div class="wow fadeInLeft">
                <div class="logo">
                    <img src="assets/images/if_node_128.png">
                </div>
            </div>
            <br>
            <div class="wow fadeInLeft">
                <div class="logo">
                    <img src="assets/images/if_git_128.png">
                    <h3></h3>
                </div>
            </div>
            <div class="wow fadeInLeft">
                <div class="logo" style="width:128px">
                    <img src="assets/images/handlebars.PNG">
                </div>
            </div>
            <div class="wow fadeInLeft logos">
                <div class="logo">
                    <img src="assets/images/if_Bootstrap_128.png">
                    <h3></h3>
                </div>
            </div>
        </div>
    </div>

</section>

<!--====================================================
  PORTFOLIO SECTION
======================================================-->
<section id="portfolio" class="section-bg">
    <div class="container" align="center">

        <header class="heading wow fadeInUp">
            <h3 class="section-title">My Portfolio</h3>
        </header>

        <div class="row">
            <div class="col-lg-12">
                <ul class="portfolio-filters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-front">Front</li>
                    <li data-filter=".filter-back">Back</li>
                    <li data-filter=".filter-group">Group</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item filter-group wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="assets/images/ChipIn.PNG" class="img-fluid" alt="">
                        <a target="_blank" href="https://chipin-project.herokuapp.com/" class="link-preview" data-lightbox="portfolio"
                            data-title="Group 3" title="View">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        <a target="_blank" href="https://github.com/EvelynCude/cleanChipin" class="link-github" title="Github Repo">
                            <i class="fab fa-github"></i>
                        </a>
                    </figure>
            
                    <div class="portfolio-info">
                        <h4>
                            <a target="_blank" href="https://chipin-project.herokuapp.com/">ChipIn Volunteer App </a>
                        </h4>
                        <p>A social volunteer app built using MySQL, Sequelize, Node, and React.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-back wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="assets/images/MongoScraper.PNG" class="img-fluid" alt="">
                        <a target="_blank" href="https://afternoon-wildwood-32656.herokuapp.com/" class="link-preview" data-lightbox="portfolio"
                            data-title="Back 3" title="View">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        <a target="_blank" href="https://github.com/EvelynCude/Mongo-Scraper" class="link-github" title="Github Repo">
                            <i class="fab fa-github"></i>
                        </a>
                    </figure>

                    <div class="portfolio-info">
                        <h4>
                            <a target="_blank" href="https://afternoon-wildwood-32656.herokuapp.com/">Kotaku Mongo Scraper </a>
                        </h4>
                        <p>A web scraping app built using MongoDB, Mongoose, Cheerio, and Node.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-group wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="assets/images/Scorekeeper.PNG" class="img-fluid" alt="">
                        <a target="_blank" href="https://mighty-wave-98156.herokuapp.com" data-lightbox="portfolio" data-title="Group 1" class="link-preview"
                            title="View">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        <a target="_blank" href="https://github.com/EvelynCude/scorecard" class="link-github" title="Github Repo">
                            <i class="fab fa-github"></i>
                        </a>
                    </figure>

                    <div class="portfolio-info">
                        <h4>
                            <a target="_blank" href="https://mighty-wave-98156.herokuapp.com">Disc-Golf Score Keeper</a>
                        </h4>
                        <p>A score keeper web app built using MySQL, Sequelize, and Node.</p>
                    </div>
                </div>
            </div>




            <div class="col-lg-4 col-md-6 portfolio-item filter-back wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="assets/images/SequelizeBurger.PNG" class="img-fluid" alt="">
                        <a target="_blank" href="https://young-everglades-97738.herokuapp.com/" class="link-preview" data-lightbox="portfolio" data-title="Back 3"
                            title="View">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        <a target="_blank" href="https://github.com/EvelynCude/sequelizedBurger" class="link-github" title="Github Repo">
                            <i class="fab fa-github"></i>
                        </a>
                    </figure>

                    <div class="portfolio-info">
                        <h4>
                            <a target="_blank" href="https://young-everglades-97738.herokuapp.com/">Sequelized Burger</a>
                        </h4>
                        <p>A burger logger app built with MySQL, Sequelize, Node, Express, and Handlebars</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-back wow fadeInUp" data-wow-delay="0.2s">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="assets/images/FriendFinder.PNG" class="img-fluid" alt="">
                        <a target="_blank" href="https://dry-inlet-96615.herokuapp.com/" class="link-preview" data-lightbox="portfolio" data-title="Back 2"
                            title="View">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        <a target="_blank" href="https://github.com/EvelynCude/FriendFinder" class="link-github" title="Github Repo">
                            <i class="fab fa-github"></i>
                        </a>
                    </figure>

                    <div class="portfolio-info">
                        <h4>
                            <a target="_blank" href="https://dry-inlet-96615.herokuapp.com/">Friend Finder</a>
                        </h4>
                        <p>A full-stack compatibility-based friend finder application built using Node and Express</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-back wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="assets/images/Bamazon.PNG" class="img-fluid" alt="">
                        <a target="_blank" href="https://www.youtube.com/watch?v=Zb3xl9Cy2Eo" class="link-preview" data-lightbox="portfolio" data-title="Back 2"
                            title="Preview">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a target="_blank" href="https://github.com/EvelynCude/Bamazon" class="link-github" title="Github Repo">
                            <i class="fab fa-github"></i>
                        </a>
                    </figure>

                    <div class="portfolio-info">
                        <h4>
                            <a target="_blank" href="https://www.youtube.com/watch?v=Zb3xl9Cy2Eo">Bamazon</a>
                        </h4>
                        <p>A back-end Amazon-like storefront built using MySQL and Node.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-back wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="assets/images/LiriNode.PNG" class="img-fluid" alt="">
                        <a target="_blank" href="assets/images/LiriNode.PNG" class="link-preview" data-lightbox="portfolio" data-title="Back 2" title="Preview">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a target="_blank" href="https://github.com/EvelynCude/Liri-Bot" class="link-github" title="Github Repo">
                            <i class="fab fa-github"></i>
                        </a>
                    </figure>

                    <div class="portfolio-info">
                        <h4>
                            <a target="_blank" href="https://github.com/EvelynCude/Liri-Bot">LIRI</a>
                        </h4>
                        <p>LIRI (Language Interpretation and Recognition Interface) is a back-end command line Node app that
                            takes in parameters and gives back data.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-front wow fadeInUp" data-wow-delay="0.2s">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="assets/images/RPS.PNG" class="img-fluid" alt="">
                        <a target="_blank" href="https://evelyncude.github.io/RPS-Multiplayer/" class="link-preview" data-lightbox="portfolio" data-title="Front 3"
                            title="View">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        <a target="_blank" href="https://github.com/EvelynCude/RPS-Multiplayer" class="link-github" title="Github Repo">
                            <i class="fab fa-github"></i>
                        </a>
                    </figure>

                    <div class="portfolio-info">
                        <h4>
                            <a target="_blank" href="https://evelyncude.github.io/RPS-Multiplayer/">Rock Paper Scissors</a>
                        </h4>
                        <p>A front-end multiplayer game and chat app built using jQuery and Firebase.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-front wow fadeInUp">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="assets/images/Giphy.PNG" class="img-fluid" alt="">
                        <a target="_blank" href="https://evelyncude.github.io/week-6-ajax/" class="link-preview" data-lightbox="portfolio" data-title="Front 1"
                            title="View">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        <a target="_blank" href="https://github.com/EvelynCude/week-6-ajax" class="link-github" title="Github Repo">
                            <i class="fab fa-github"></i>
                        </a>
                    </figure>

                    <div class="portfolio-info">
                        <h4>
                            <a target="_blank" href="https://evelyncude.github.io/week-6-ajax/">GifTastic</a>
                        </h4>
                        <p>A front end app that uses the GIPHY API to make a dynamic web page that populates with Will Ferrell
                            gifs.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-group wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="assets/images/FoodRecall.PNG" class="img-fluid" alt="">
                        <a target="_blank" href="http://shouldieatthis.info/" class="link-preview" data-lightbox="portfolio" data-title="Group 1"
                            title="View">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        <a target="_blank" href="https://github.com/EvelynCude/Food-Recall-App" class="link-github" title="Github Repo">
                            <i class="fab fa-github"></i>
                        </a>
                    </figure>

                    <div class="portfolio-info">
                        <h4>
                            <a target="_blank" href="http://shouldieatthis.info/">Food Recall App</a>
                        </h4>
                        <p>An app that takes in user-specified parameters to find recalled food items. Built using Barcode API,
                            FDA API, Firebase, and Materialize.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-front wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="assets/images/Hangman.PNG" class="img-fluid" alt="">
                        <a target="_blank" href="https://evelyncude.github.io/Hangman-Game/" class="link-preview" data-lightbox="portfolio" data-title="Front 3"
                            title="View">
                            <i class="fas fa-external-link-alt"></i>
                        </a>
                        <a target="_blank" href="https://github.com/EvelynCude/Hangman-Game" class="link-github" title="Github Repo">
                            <i class="fab fa-github"></i>
                        </a>
                    </figure>

                    <div class="portfolio-info">
                        <h4>
                            <a target="_blank" href="https://evelyncude.github.io/Hangman-Game/">Hangman</a>
                        </h4>
                        <p>Rick and Morty themed hangman game that features dynamically updated HTML and CSS powered by JavaScript
                            code.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>

<!--====================================================
  CONTACT SECTION
======================================================-->
<section id="contact" class="contact-section">
    <div class="container contact-container">
        <div class="row">
            <div class="heading wow fadeIn" align="center">
                <h2 class="contact-title">Contact Me</h2>
            </div>
        </div>
        <div class="row contact-row">
            <div class="col-lg-3 col-md-2 col-sm-0"></div>
            <div class="col-lg-3 col-md-5 col-sm-7 message">
                <h4 class="h4-contact">SEND ME A MESSAGE</h4>
                <hr>
                <form action="/send" method="POST">
                    <div class="form-group">

                        <input type="name" class="form-control" id="name" placeholder="Your Name" name="name">
                    </div>
                    <div class="form-group">

                        <input type="email" class="form-control" id="email" placeholder="Email Address" name="email">
                    </div>
                    <div class="form-group">

                        <textarea type="message" class="form-control" rows="7" id="comment" placeholder="Your Message" name="message"></textarea>
                    </div>
                    <div>{{msg}}</div>
                    <button type="submit" class="btn btn-message">Send</button>
                </form>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-5 other-channels">
                <h4 class="h4-contact">OTHER CHANNELS</h4>
                <hr>
                <p>
                    <i class="fa fa-map-marker" aria-hidden="true" style="font-size:10px"></i>
                    <strong>Location:</strong>
                    <br> Tucson, Arizona
                    <br> United States
                    <br>
                    <i class="fa fa-phone" aria-hidden="true" style="font-size:10px"></i>
                    <strong>Phone:</strong> +1 520 405-8578
                    <br>

                    <i class="fa fa-envelope" aria-hidden="true" style="font-size:10px"></i>
                    <strong>Email:</strong>
                    <a href="mailto:evelyncude@gmail.com" style="color:#fff"> evelyncude@gmail.com
                        <br>
                    </a>
                </p>

                <div class="social-links">
                    <a href="https://twitter.com/EvelynCude" class="twitter">
                    <i class="fab fa-twitter fa-md"></i>
                    </a>
                    <a href="https://www.instagram.com/benitezea/" class="instagram">
                    <i class="fab fa-instagram fa-md"></i>
                    </a>
                    <a href="https://plus.google.com/u/0/101698312974368236019" class="google-plus">
                    <i class="fab fa-google-plus fa-md"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/evelyn-cude/" class="linkedin">
                    <i class="fab fa-linkedin-in fa-md"></i>
                    </a>
                </div>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-0"></div>
      </div>
    </div>
  </section>
<!--___Footer______________________________________-->
<footer class="page-footer" align="center">
    &copy; Copyright 2018 Evelyn Cude
</footer>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
<!--Isotope filters for portfolio section-->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/main.js"></script>



<script>
    FontAwesomeConfig = { searchPseudoElements: true };
</script>
<script defer src="/static/fontawesome/fontawesome-all.js"></script>